/*drag_image css start*/
#drage_image_contianer {
  position: relative;
}
#drage_image_opacity {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#drage_image_select {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 75px;
  position: absolute;
  cursor: move;
  border: 1px dotted #aaa;
}
#drage_image_resize {
  cursor: move;
  margin: 0;
  padding: 0;
  position: absolute;
}
#drage_image_resize {
  background: url("../image/divResize.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  position: absolute;
  /* Do not change left or top*/
  left: 65px;
  top: 65px;
  /* Do not change width and height*/
  width: 10px;
  height: 10px;
}
/*drage_image css end*/

#IMresize fieldset {
  padding: 10px;
}
#tans_bg_bu {
  width: 290px;
}
.imagFactory_goto_list {
  margin: 10px;
}
.singleTextEdit td input {
  width: 260px;
}
#newImage img {
  border: dotted #000 2px;
}
.zero_mp {
  margin: 0px!important;
  padding: 0px!important;
}
.margin10 {
  margin: 10px;
}
.padding5 {
  padding: 5px;
}
input.blur {
  color: #aaa;
}
